ion-range {
    --bar-background: #E83E34;
    --bar-background-active: #E83E34;
    --bar-height: 0.25rem;
    --bar-border-radius: 8px;
    --knob-background: #2757DF;
    --knob-size: 0.625rem;
    --pin-background: transparent;
    --pin-color: #444444;
  }