<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Mi reserva</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div class="ion-content-scroll-host padding-left-right-general">
    <div class="">
      <ion-card class="ion-no-margin card-carrito">
        <ion-item lines="none" class="item-list-favoritos">
          <ion-img src="assets/img/img-turismo.png" class="img-favoritos"></ion-img>
          <ion-label class="label-favorito">
            <h2 class="font-poppins-semibold">Este es un nombre de producto</h2>
            <p class="font-poppins-semibold">Nombre de la tienda</p>
          </ion-label>
          <p class="font-poppins-semibold textos-44-size-16">S/.120.00</p>
        </ion-item>
        <ion-card class="ion-no-margin card-carrito-contador">
          <ion-button mode="ios" class="btn-contador-carrito">-</ion-button>
          <ion-input></ion-input>
          <ion-button mode="ios" class="btn-contador-carrito">+</ion-button>
        </ion-card>
      </ion-card>
      <ion-card class="ion-no-margin card-carrito">
        <ion-item lines="none" class="item-list-favoritos">
          <ion-img src="assets/img/img-turismo.png" class="img-favoritos"></ion-img>
          <ion-label class="label-favorito">
            <h2 class="font-poppins-semibold">Este es un nombre de producto</h2>
            <p class="font-poppins-semibold">Nombre de la tienda</p>
          </ion-label>
          <p class="font-poppins-semibold textos-44-size-16">S/.120.00</p>
        </ion-item>
        <ion-card class="ion-no-margin card-carrito-contador">
          <ion-button mode="ios" class="btn-contador-carrito">-</ion-button>
          <ion-input></ion-input>
          <ion-button mode="ios" class="btn-contador-carrito">+</ion-button>
        </ion-card>
      </ion-card>
      <ion-card class="ion-no-margin card-carrito">
        <ion-item lines="none" class="item-list-favoritos">
          <ion-img src="assets/img/img-turismo.png" class="img-favoritos"></ion-img>
          <ion-label class="label-favorito">
            <h2 class="font-poppins-semibold">Este es un nombre de producto</h2>
            <p class="font-poppins-semibold">Nombre de la tienda</p>
          </ion-label>
          <p class="font-poppins-semibold textos-44-size-16">S/.120.00</p>
        </ion-item>
        <ion-card class="ion-no-margin card-carrito-contador">
          <ion-button mode="ios" class="btn-contador-carrito">-</ion-button>
          <ion-input></ion-input>
          <ion-button mode="ios" class="btn-contador-carrito">+</ion-button>
        </ion-card>
      </ion-card>
      <ion-card class="ion-no-margin card-carrito">
        <ion-item lines="none" class="item-list-favoritos">
          <ion-img src="assets/img/img-turismo.png" class="img-favoritos"></ion-img>
          <ion-label class="label-favorito">
            <h2 class="font-poppins-semibold">Este es un nombre de producto</h2>
            <p class="font-poppins-semibold">Nombre de la tienda</p>
          </ion-label>
          <p class="font-poppins-semibold textos-44-size-16">S/.120.00</p>
        </ion-item>
        <ion-card class="ion-no-margin card-carrito-contador">
          <ion-button mode="ios" class="btn-contador-carrito">-</ion-button>
          <ion-input></ion-input>
          <ion-button mode="ios" class="btn-contador-carrito">+</ion-button>
        </ion-card>
      </ion-card>
      <ion-card class="ion-no-margin card-carrito">
        <ion-item lines="none" class="item-list-favoritos">
          <ion-img src="assets/img/img-turismo.png" class="img-favoritos"></ion-img>
          <ion-label class="label-favorito">
            <h2 class="font-poppins-semibold">Este es un nombre de producto</h2>
            <p class="font-poppins-semibold">Nombre de la tienda</p>
          </ion-label>
          <p class="font-poppins-semibold textos-44-size-16">S/.120.00</p>
        </ion-item>
        <ion-card class="ion-no-margin card-carrito-contador">
          <ion-button mode="ios" class="btn-contador-carrito">-</ion-button>
          <ion-input></ion-input>
          <ion-button mode="ios" class="btn-contador-carrito">+</ion-button>
        </ion-card>
      </ion-card>
      <ion-item lines="none" mode="ios" class="item-input-general item-input-padding-top margin-top-31">
        <ion-textarea placeholder="Deseas agregar un comentgario?" class="font-poppins-light" ></ion-textarea>
      </ion-item>
      <ion-button mode="ios" class="btn-general font-poppins-regular margin-top-31 btn-widht-100" href="/cancelar-compras">
        Pedir por whatsapp
      </ion-button>
    </div>
  </div>
</ion-content>