<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Tecnología <span class="font-poppins-light">(Cusco)</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="ion-no-padding">
  <div class="ion-content-scroll-host padding-bottom-cero">
    <ion-grid class="ion-no-padding padding-top-general-sin-header">
      <ion-row>
        <ion-col size="12" class="padding-left-right-general col-flex-between">
          <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin">Ofertas especiales</h3>
          <ion-button mode="ios"  class="btn-transparente-subtitulo ion-no-padding font-poppins-medium">Ver todos</ion-button>
        </ion-col>
        <ion-col size="12" class="ion-no-padding margin-top-25">
          <swiper-container class="mySwiper mySwiper-ofertas padding-left-right-general" pagination="true" space-between="25" autoplay="true"
          slides-per-view="1">
            <swiper-slide>
              <ion-card class="card-slider-ofertas ion-no-margin" id="rojo">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <h3 class="font-poppins-semibold">S/. 120.00</h3>
                  <h4 class="font-poppins-bold">Especial del dia</h4>
                  <p class="font-poppins-light">
                    Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/imagen-botines.png" alt="botines" class="img-sin-fondo"></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-ofertas ion-no-margin" id="azul">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <h3 class="font-poppins-semibold">S/. 120.00</h3>
                  <h4 class="font-poppins-bold">Especial del dia</h4>
                  <p class="font-poppins-light">
                    Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/imagen-botines.png" alt="botines" class="img-sin-fondo"></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-ofertas ion-no-margin" id="verde">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <h3 class="font-poppins-semibold">S/. 120.00</h3>
                  <h4 class="font-poppins-bold">Especial del dia</h4>
                  <p class="font-poppins-light">
                    Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/imagen-botines.png" alt="botines" class="img-sin-fondo"></ion-img>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col size="12" class="padding-left-right-general margin-top-25">
          <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin">Promos express</h3>
        </ion-col>
        <ion-col size="12" class="ion-no-padding margin-top-25">
          <swiper-container class="mySwiper mySwiper-promos padding-left-right-general" pagination="false" space-between="7" autoplay="true"
          slides-per-view="2.1">
            <swiper-slide>
              <ion-card class="card-slider-promos ion-no-margin" id="rojo">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Compra le esta tablet de una vez a tu hijo
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-promos ion-no-margin" id="rojo">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Esta es una publicidad Para reloj
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-promos ion-no-margin" id="rojo">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Esta es una publicidad Para reloj
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-promos ion-no-margin" id="rojo">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Compra le esta tablet de una vez a tu hijo
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col size="12" class="col-fondo-plomo-rubros padding-left-right-general margin-top-25 ">
          <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin ion-text-center">¿Qué te apetece ahora?</h3>
          <div class="margin-top-17">
            <ion-button mode="ios" class="btn-general btn-rubros-ancho font-poppins-regular margin-top-5 btn-widht-100" href="/galeria-producto">Chifa</ion-button>
            <ion-button mode="ios" class="btn-general btn-rubros-ancho font-poppins-regular margin-top-5 btn-widht-100" href="/home">Carretillero</ion-button>
            <ion-button mode="ios" class="btn-general btn-rubros-ancho font-poppins-regular margin-top-5 btn-widht-100" href="/home">Computación</ion-button>
            <ion-button mode="ios" class="btn-general btn-rubros-ancho font-poppins-regular margin-top-5 btn-widht-100" href="/home">Televisores</ion-button>
            <ion-button mode="ios" class="btn-general btn-rubros-ancho font-poppins-regular margin-top-5 btn-widht-100" href="/home">Equipo de sonido</ion-button>
            <ion-button mode="ios" class="btn-general btn-rubros-ancho-blanco font-poppins-regular margin-top-5 btn-widht-100" href="/home">Servicio Profesional/técnico</ion-button>
          </div>
        </ion-col>
      </ion-row>
     </ion-grid>
  </div>
</ion-content>

