<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Anuncios yase!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div class="ion-content-scroll-host padding-left-right-general">
    <ion-item line="none" mode="ios" class="item-input-general margin-top-5">
      <ion-input placeholder="¿Qué estas buscando?" mode="ios" type="search" class="font-poppins-light"></ion-input>
      <ion-icon name="search-sharp" slot="end"></ion-icon>
    </ion-item>
    <swiper-container class="mySwiper mySwiper-busqueda margin-top-17" space-between="10" slides-per-view="4">
      <swiper-slide>
        <ion-item lines="none">
          <p class="active">Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
      <swiper-slide>
        <ion-item lines="none">
          <p>Popular</p>
        </ion-item>
      </swiper-slide>
    </swiper-container>
    <h3 class="font-poppins-regular titulos-44-size-18 ion-text-center margin-top-25 ion-no-margin-bottom">¿Qué anuncios deseas ver?</h3>
    <p class="font-poppins-medium texto-27-size-17 ion-text-center">(Cusco)</p>
    <div class="div-item-grid-2 margin-top-31">
      <ion-card class="ion-no-margin card-button-rojos ion-no-padding" type="button" href="/ficha-tecnica">
        <p class="font-poppins-regular">Alimentos</p>
      </ion-card>
      <ion-card class="ion-no-margin card-button-rojos ion-no-padding" type="button">
        <p class="font-poppins-regular">Alimentos</p>
      </ion-card>
      <ion-card class="ion-no-margin card-button-rojos ion-no-padding" type="button">
        <p class="font-poppins-regular">Alimentos</p>
      </ion-card>
      <ion-card class="ion-no-margin card-button-rojos ion-no-padding" type="button">
        <p class="font-poppins-regular">Alimentos</p>
      </ion-card>
      <ion-card class="ion-no-margin card-button-rojos ion-no-padding" type="button">
        <p class="font-poppins-regular">Alimentos</p>
      </ion-card>
    </div>
  </div>
</ion-content>