<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Comida <span class="font-poppins-light">(Cusco)</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="ion-no-padding">
  <div class="ion-content-scroll-host padding-bottom-cero">
    <ion-grid class="ion-no-padding padding-top-general-sin-header">
      <ion-row>
        <ion-col size="12" class="padding-left-right-general col-flex-between">
          <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin">Ofertas especiales</h3>
          <ion-button mode="ios"  class="btn-transparente-subtitulo ion-no-padding font-poppins-medium">Ver todos</ion-button>
        </ion-col>
        <ion-col size="12" class="ion-no-padding margin-top-25">
          <swiper-container class="mySwiper mySwiper-ofertas padding-left-right-general" pagination="true" space-between="25" autoplay="true"
          slides-per-view="1">
            <swiper-slide>
              <ion-card class="card-slider-comida ion-no-margin">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <h3 class="font-poppins-semibold">S/. 120.00</h3>
                  <h4 class="font-poppins-bold">Especial del dia</h4>
                  <p class="font-poppins-light">
                    Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/comida.png" alt="botines" class=""></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-comida ion-no-margin">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <h3 class="font-poppins-semibold">S/. 120.00</h3>
                  <h4 class="font-poppins-bold">Especial del dia</h4>
                  <p class="font-poppins-light">
                    Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/comida.png" alt="botines" class=""></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-comida ion-no-margin">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <h3 class="font-poppins-semibold">S/. 120.00</h3>
                  <h4 class="font-poppins-bold">Especial del dia</h4>
                  <p class="font-poppins-light">
                    Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/comida.png" alt="botines" class=""></ion-img>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col size="12" class="padding-left-right-general margin-top-25">
          <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin">Promos express</h3>
        </ion-col>
        <ion-col size="12" class="ion-no-padding margin-top-25">
          <swiper-container class="mySwiper mySwiper-promos padding-left-right-general" pagination="false" space-between="7" autoplay="true"
          slides-per-view="2.1">
            <swiper-slide>
              <ion-card class="card-slider-comida-promos ion-no-margin">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Compra le esta tablet de una vez a tu hijo
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/comida.png" alt="botines" class=""></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-comida-promos ion-no-margin">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Compra le esta tablet de una vez a tu hijo
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/comida.png" alt="botines" class=""></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-comida-promos ion-no-margin">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Compra le esta tablet de una vez a tu hijo
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/comida.png" alt="botines" class=""></ion-img>
              </ion-card>
            </swiper-slide>
            <swiper-slide>
              <ion-card class="card-slider-comida-promos ion-no-margin">
                <ion-card-content class="ion-no-padding ion-text-start">
                  <p class="font-poppins-light">
                    Compra le esta tablet de una vez a tu hijo
                  </p>
                </ion-card-content>
                <ion-img src="assets/img/comida.png" alt="botines" class=""></ion-img>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col size="12" class="col-fondo-plomo-rubros padding-left-right-general margin-top-25 ">
          <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin ion-text-center">¿Qué te apetece ahora?</h3>
          <div class="margin-top-17 div-item-dos-comida">
            <ion-card class="ion-no-margin card-comida-list" type="button" href="/busqueda-comidas-bebidas">
                <div></div>
                <p class="ion-text-center font-poppins-light margin-top-5">Carretillero</p>
            </ion-card>
            <ion-card class="ion-no-margin card-comida-list" type="button">
              <div></div>
              <p class="ion-text-center font-poppins-light margin-top-5">Chifa</p>
            </ion-card>
            <ion-card class="ion-no-margin card-comida-list" type="button">
              <div></div>
              <p class="ion-text-center font-poppins-light margin-top-5">Fast food</p>
            </ion-card>
            <ion-card class="ion-no-margin card-comida-list" type="button">
              <div></div>
              <p class="ion-text-center font-poppins-light margin-top-5">Pollo</p>
            </ion-card>
            <ion-card class="ion-no-margin card-comida-list" type="button">
              <div></div>
              <p class="ion-text-center font-poppins-light margin-top-5">Dulces y postres</p>
            </ion-card>
            <ion-card class="ion-no-margin card-comida-list" type="button">
              <div></div>
              <p class="ion-text-center font-poppins-light margin-top-5">Carnes</p>
            </ion-card>
            <ion-card class="ion-no-margin card-comida-list" type="button">
              <div></div>
              <p class="ion-text-center font-poppins-light margin-top-5">Pizzas y pastas</p>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
     </ion-grid>
  </div>
</ion-content>

