<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  
  <div class="padding-left-right-general conten-padding-top-proceso">
    <ion-img src="assets/img/logo-yase.svg" alt="yase" class="img-sin-fondo logo-yasse-proceso"></ion-img>
    <h1 class="ion-text-center titulo-44-size-24 font-poppins-bold margin-top-62 ion-no-margin-bottom">Ingresa y disfruta</h1>
    <ion-button mode="ios" class="btn-redes-sociales margin-top-39 font-poppins-regular">
      <ion-img src="assets/img/icon-facebook.svg" alt="facebook" class="img-sin-fondo"></ion-img>
      Continua con Facebook
    </ion-button>
    <ion-button mode="ios" class="btn-redes-sociales font-poppins-regular">
      <ion-img src="assets/img/icon-google.svg" alt="facebook" class="img-sin-fondo"></ion-img>
      Continua con google
    </ion-button>
    <ion-button mode="ios" class="btn-redes-sociales font-poppins-regular">
      <ion-img src="assets/img/icon-mac.svg" alt="facebook" class="img-sin-fondo"></ion-img>
      Continua con Apple
    </ion-button>
    <p class="ion-text-center font-poppins-semibold textos-44-size-16 margin-top-31 ion-no-margin-bottom">o</p>
    <ion-button mode="ios" class="btn-general font-poppins-regular margin-top-31 btn-widht-100" href="/login-correo">
      Ingresa con correo
    </ion-button>
    <p class="ion-text-center font-poppins-regular texto-44-size-13 margin-top-25 ion-no-margin-bottom">No tienes cuenta? <a class="font-poppins-bold" href="/registro">Registrate</a></p>
  </div>
</ion-content>
