<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Preguntas frecuentes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div class="ion-content-scroll-host padding-left-right-general">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item lines="none" slot="header" color="light">
          <ion-label class="font-poppins-light">First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding font-poppins-light" slot="content">
          Estás a punto de denunciar un negocio. . Por favor asegure que su reclamo haya sido comunicado anteriormente hacia el negocio y que el mismo haya intentado brindarle una solución.
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item lines="none" slot="header" color="light">
          <ion-label class="font-poppins-light">Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding font-poppins-light" slot="content">
          Estás a punto de denunciar un negocio. . Por favor asegure que su reclamo haya sido comunicado anteriormente hacia el negocio y que el mismo haya intentado brindarle una solución.
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item lines="none" slot="header" color="light">
          <ion-label class="font-poppins-light">Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding font-poppins-light" slot="content">
          Estás a punto de denunciar un negocio. . Por favor asegure que su reclamo haya sido comunicado anteriormente hacia el negocio y que el mismo haya intentado brindarle una solución.
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>