<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="regitro-ubicacion"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Gustos e interés</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div class="ion-content-scroll-host padding-left-right-general">
    <div class="div-item-tres-grid-gustos">
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card class="ion-no-margin card-gustos active">
        <div class="div-espacios-iconos"></div>
        <ion-card-header class="ion-no-padding ion-text-center margin-top-9">
          <ion-card-title class="font-poppins-regular texto-44-size-13">Nombre de categoria</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen" class="modal-transparente">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="modal-padding-left-right">
          <ion-card class="ion-no-margin card-modal-centro">
            <ion-img src="assets/img/icon-persona-gustos.svg" alt="candado" class="img-sin-fondo img-modal-gustos"></ion-img>
            <h2 class="margin-top-39 ion-text-center titulo-azul-size-20 font-poppins-bold ion-no-margin-bottom">¡Felicitaciones!</h2>
            <p class="font-poppins-light texto-44-size-13 ion-text-center margin-top-25">
              Tu cuenta ya está lista. Puedes entrar y disfrutar del mundo Yase.pe
            </p>
            <ion-button mode="ios" class="btn-general btn-transparent-azul font-poppins-bold" href="/home">¡Ingresar!</ion-button>
          </ion-card>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
<ion-footer collapse="fade" mode="ios" translucent="false">
  <ion-toolbar class="ion-text-center padding-left-right-general">
    <ion-button mode="ios" class="btn-general font-poppins-regular margin-top-39 btn-widht-100" (click)="setOpen(true)">
      Siguiente
    </ion-button>
    <ion-button mode="ios" class="btn-general btn-transparent-44 font-poppins-light btn-decoration-unline" href="/home">Omitir paso ></ion-button>
  </ion-toolbar>
</ion-footer>