<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboarding1</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-card class="ion-no-margin card-onboar">
    <ion-img src="assets/img/Onboarding-01.png" class="" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </ion-card>
  <div class="padding-left-right-general ion-text-center margin-top-39">
    <ion-card class="ion-no-margin card-puntos ion-text-center">
      <ion-icon name="ellipse-sharp" class="icon-activo-onboar"></ion-icon>
      <ion-icon name="ellipse-sharp"></ion-icon>
      <ion-icon name="ellipse-sharp"></ion-icon>
      <ion-icon name="ellipse-sharp"></ion-icon>
    </ion-card>
    <h1 class="ion-text-center titulos-44-size-18 font-poppins-bold margin-top-46 ion-no-margin-bottom">Un mar de descuentos</h1>
    <p class="ion-text-center textos-44-size-16 font-poppins-regular margin-top-14">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
    </p>
    <ion-button mode="ios" class="btn-general font-poppins-regular margin-top-28" href="/onboarding2">Siguiente</ion-button>
    <ion-button mode="ios" class="btn-general btn-transparent-44 font-poppins-light" href="/login">Omitir</ion-button>
  </div>
</ion-content>
