<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  
  <div class="padding-left-right-general conten-padding-top-proceso">
    <ion-img src="assets/img/logo-yase.svg" alt="yase" class="img-sin-fondo logo-yasse-proceso"></ion-img>
    <h1 class="ion-text-center titulo-44-size-24 font-poppins-bold margin-top-62 ion-no-margin-bottom">¡Pedido exitoso!</h1>
    <p class="font-poppins-light textos-44-size-16 margin-top-25 ion-text-center">
      La tienda ha recibido su orden y se comunicará contigo pronto
    </p>
  </div>
</ion-content>
<ion-footer collapse="fade" mode="ios" translucent="false" class="padding-left-right-general ion-padding-bottom">
  <ion-toolbar class="ion-text-center">
    <ion-button mode="ios" class="btn-general font-poppins-regular margin-top-39 btn-widht-100" href="/home">
      Volver a explorar
    </ion-button>
    <ion-button mode="ios" class="btn-general btn-transparent-44 font-poppins-light btn-decoration-unline margin-top-62" href="/home">Revertir</ion-button>
  </ion-toolbar>
</ion-footer>
