<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Micro productores <span class="font-poppins-light">(Cusco)</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="ion-no-padding">
  <div class="ion-content-scroll-host padding-bottom-cero padding-left-right-general">
    <h3 class="font-poppins-regular titulos-44-size-18 ion-text-center margin-top-5 ion-no-margin-bottom">Alimentos</h3>
    <ion-card class="ion-no-margin card-mapa margin-top-17"></ion-card>
    <div class="margin-top-17">
      <ion-card class="ion-no-margin card-resultadots-footer ion-no-padding">
        <ion-img src="assets/img/avatar.svg" alt="avatar" class="avatar-micro"></ion-img>
        <ion-card-content>
          <h2 class="font-poppins-semibold texto-44-size-18">Equipos de computo SAC</h2>
          <ion-badge class="margin-top-5">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-badge>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">2 comentarios</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">Calle Brazil 1234, Santa Beatriz, Lima</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">(01) 2342341 / 990 090 987</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">info@equiposdecomputo.com.pe</p>
        </ion-card-content>
        <div class="div-card-footer">
          <ion-button mode="ios" class="btn-rojo-footer font-poppins-bold" type="button" href="/micro-detalle">Ver tienda</ion-button>
        </div>
      </ion-card>
      <ion-card class="ion-no-margin card-resultadots-footer ion-no-padding">
        <ion-img src="assets/img/avatar.svg" alt="avatar" class="avatar-micro"></ion-img>
        <ion-card-content>
          <h2 class="font-poppins-semibold texto-44-size-18">Equipos de computo SAC</h2>
          <ion-badge class="margin-top-5">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-badge>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">2 comentarios</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">Calle Brazil 1234, Santa Beatriz, Lima</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">(01) 2342341 / 990 090 987</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">info@equiposdecomputo.com.pe</p>
        </ion-card-content>
        <div class="div-card-footer">
          <ion-button mode="ios" class="btn-rojo-footer font-poppins-bold">Ver tienda</ion-button>
        </div>
      </ion-card>
      <ion-card class="ion-no-margin card-resultadots-footer ion-no-padding">
        <ion-img src="assets/img/avatar.svg" alt="avatar" class="avatar-micro"></ion-img>
        <ion-card-content>
          <h2 class="font-poppins-semibold texto-44-size-18">Equipos de computo SAC</h2>
          <ion-badge class="margin-top-5">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-badge>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">2 comentarios</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">Calle Brazil 1234, Santa Beatriz, Lima</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">(01) 2342341 / 990 090 987</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">info@equiposdecomputo.com.pe</p>
        </ion-card-content>
        <div class="div-card-footer">
          <ion-button mode="ios" class="btn-rojo-footer font-poppins-bold">Ver tienda</ion-button>
        </div>
      </ion-card>
      <ion-card class="ion-no-margin card-resultadots-footer ion-no-padding">
        <ion-img src="assets/img/avatar.svg" alt="avatar" class="avatar-micro"></ion-img>
        <ion-card-content>
          <h2 class="font-poppins-semibold texto-44-size-18">Equipos de computo SAC</h2>
          <ion-badge class="margin-top-5">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-badge>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">2 comentarios</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">Calle Brazil 1234, Santa Beatriz, Lima</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">(01) 2342341 / 990 090 987</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">info@equiposdecomputo.com.pe</p>
        </ion-card-content>
        <div class="div-card-footer">
          <ion-button mode="ios" class="btn-rojo-footer font-poppins-bold">Ver tienda</ion-button>
        </div>
      </ion-card>
      <ion-card class="ion-no-margin card-resultadots-footer ion-no-padding">
        <ion-img src="assets/img/avatar.svg" alt="avatar" class="avatar-micro"></ion-img>
        <ion-card-content>
          <h2 class="font-poppins-semibold texto-44-size-18">Equipos de computo SAC</h2>
          <ion-badge class="margin-top-5">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-badge>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">2 comentarios</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">Calle Brazil 1234, Santa Beatriz, Lima</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">(01) 2342341 / 990 090 987</p>
          <p class="font-poppins-light texto-44-size-13 margin-top-5">info@equiposdecomputo.com.pe</p>
        </ion-card-content>
        <div class="div-card-footer">
          <ion-button mode="ios" class="btn-rojo-footer font-poppins-bold">Ver tienda</ion-button>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>

