<ion-header collapse="fade" mode="ios">
  <ion-toolbar class="toolbar-general-flecha">
    <ion-button class="btn-flecha-header ion-no-padding" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-title class="ion-text-start font-poppins-bold title-17-size-18-header">Unete a yase!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" class="ion-no-padding">
  <div class="ion-content-scroll-host padding-bottom-cero padding-left-right-general">
    <ion-card class="ion-no-margin card-unete margin-top-20" type="button">
        <ion-img src="assets/img/Onboarding-04.png"></ion-img>
        <h3 class="font-poppins-semibold texto-44-size-18 ion-text-center margin-top-17">Tengo tienda / servicio</h3>
    </ion-card>
    <ion-card class="ion-no-margin card-unete car-margin-80" type="button">
        <ion-img src="assets/img/Onboarding-02.png"></ion-img>
        <h3 class="font-poppins-semibold texto-44-size-18 ion-text-center margin-top-17">Tengo tienda / servicio</h3>
    </ion-card>
  </div>
</ion-content>
