<!--
  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content [fullscreen]="false" class="ion-no-padding">
  <ion-grid class="ion-no-padding padding-top-general-sin-header">
    <ion-row>
      <ion-col szie="12" class="padding-left-right-general">
        <ion-item lines="none" class="item-header">
          <ion-img src="assets/img/avatar.svg" alt="avatar"></ion-img>
          <ion-label>
            <p class="font-poppins-light">Quiero comprar…</p>
            <h3 class="font-poppins-semibold">Emanuela Ginobili</h3>
          </ion-label>
          <div class="div-btn-flex">
            <ion-button class="ion-no-padding">
              <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            </ion-button>
            <ion-button class="ion-no-padding" href="favoritos">
              <ion-img src="assets/img/icon-corazon.svg" alt="corazon"></ion-img>
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general col-relative-filtro">
        <ion-card class="card-search-filtro" type="button" href="/resultado-busqueda">
          <div>
            <ion-img src="assets/img/icon-search.svg" alt="search" class="img-search"></ion-img>
            <ion-label class="font-poppins-light">Quiero comprar…</ion-label>
          </div>
        </ion-card>
        <ion-button class="ion-no-padding btn-filtro" (click)="setOpenFiltro(true)"><ion-img src="assets/img/icon-filtro.svg" alt="filtro"></ion-img></ion-button>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general col-flex-between margin-top-25">
        <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin">Ofertas especiales</h3>
        <ion-button mode="ios"  class="btn-transparente-subtitulo ion-no-padding font-poppins-medium">Ver todos</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-no-padding margin-top-25">
        <swiper-container class="mySwiper mySwiper-ofertas padding-left-right-general" pagination="true" space-between="25" autoplay="true"
        slides-per-view="1">
          <swiper-slide>
            <ion-card class="card-slider-ofertas ion-no-margin" id="rojo">
              <ion-card-content class="ion-no-padding ion-text-start">
                <h3 class="font-poppins-semibold">S/. 120.00</h3>
                <h4 class="font-poppins-bold">Especial del dia</h4>
                <p class="font-poppins-light">
                  Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                </p>
              </ion-card-content>
              <ion-img src="assets/img/imagen-botines.png" alt="botines" class="img-sin-fondo"></ion-img>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-slider-ofertas ion-no-margin" id="azul">
              <ion-card-content class="ion-no-padding ion-text-start">
                <h3 class="font-poppins-semibold">S/. 120.00</h3>
                <h4 class="font-poppins-bold">Especial del dia</h4>
                <p class="font-poppins-light">
                  Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                </p>
              </ion-card-content>
              <ion-img src="assets/img/imagen-botines.png" alt="botines" class="img-sin-fondo"></ion-img>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-slider-ofertas ion-no-margin" id="verde">
              <ion-card-content class="ion-no-padding ion-text-start">
                <h3 class="font-poppins-semibold">S/. 120.00</h3>
                <h4 class="font-poppins-bold">Especial del dia</h4>
                <p class="font-poppins-light">
                  Tu contraseña ha sido recuperada correctamente. Ya puedes volver a entrar y disfrutar los beneficios
                </p>
              </ion-card-content>
              <ion-img src="assets/img/imagen-botines.png" alt="botines" class="img-sin-fondo"></ion-img>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general fondo-seccion-plomo col-margin-negativo-padding-top">
        <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin">Rubros</h3>
        <div class="div-item-4-grid margin-top-25">
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button" href="/cateogria-rubros">
              <ion-img src="assets/img/icon-smartphone.svg" alt="smartphone"></ion-img>
              <h3 class="font-poppins-light texto-44-size-13">Tecnología</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-couch.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Hogar</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-hammer.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Ferreteria</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-car.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Automotriz</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-food.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Comida y bebidas</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-eventos.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Eventos y catering</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-airplane.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Turismo y viajes</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-paint.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Arte y manualidades</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-warehouse.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Construcción y arquitectura</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-healing.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Salud y belleza</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-tv.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Electro-domestico</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-shirt.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Moda</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-football.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Deportes</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-supermarket.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Supermercados y abarrotes</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-paw.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Mascotas</h3>
          </ion-card>
          <ion-card class="ion-no-margin ion-text-center card-circle-rubros" type="button">
            <ion-img src="assets/img/icon-book.svg" alt="smartphone"></ion-img>
            <h3 class="font-poppins-light texto-44-size-13">Libros</h3>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general margin-top-25">
        <h3 class="font-poppins-bold textos-44-size-16 ion-no-margin">Promos express</h3>
      </ion-col>
      <ion-col size="12" class="ion-no-padding margin-top-25">
        <swiper-container class="mySwiper mySwiper-promos padding-left-right-general" pagination="false" space-between="7" autoplay="true"
        slides-per-view="2.2">
          <swiper-slide>
            <ion-card class="card-slider-promos ion-no-margin" id="rojo">
              <ion-card-content class="ion-no-padding ion-text-start">
                <p class="font-poppins-light">
                  Compra le esta tablet de una vez a tu hijo
                </p>
              </ion-card-content>
              <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-slider-promos ion-no-margin" id="rojo">
              <ion-card-content class="ion-no-padding ion-text-start">
                <p class="font-poppins-light">
                  Esta es una publicidad Para reloj
                </p>
              </ion-card-content>
              <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-slider-promos ion-no-margin" id="rojo">
              <ion-card-content class="ion-no-padding ion-text-start">
                <p class="font-poppins-light">
                  Esta es una publicidad Para reloj
                </p>
              </ion-card-content>
              <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card class="card-slider-promos ion-no-margin" id="rojo">
              <ion-card-content class="ion-no-padding ion-text-start">
                <p class="font-poppins-light">
                  Compra le esta tablet de una vez a tu hijo
                </p>
              </ion-card-content>
              <ion-img src="assets/img/camara.png" alt="camara" class="img-sin-fondo"></ion-img>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general col-flex-between margin-top-25">
        <h3 class="font-poppins-bold textos-44-size-16 titulo-img-izquierda ion-no-margin"><ion-img src="assets/img/icon-rojo-titulo.svg"></ion-img> Turismo y viajes</h3>
        <ion-button mode="ios"  class="btn-transparente-subtitulo ion-no-padding font-poppins-medium">Ver todos</ion-button>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general margin-top-25">
        <div class="div-item-grid-2">
          <ion-card class="ion-no-margin card-relative-turismo ion-no-padding" type="button">
            <ion-img src="assets/img/img-turismo.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="font-poppins-semibold">30%</ion-card-title>
              <ion-button mode="ios" class="ion-no-padding" id="popover-button" ><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
            </ion-card-header>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-semibold">S/.120.00</p>
            </ion-card-content>
            <!--popover-->
            <ion-popover trigger="popover-button" [dismissOnSelect]="true">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item [button]="true" [detail]="false">Option 1</ion-item>
                    <ion-item [button]="true" [detail]="false">Option 2</ion-item>
                    <ion-item [button]="true" id="nested-trigger">More options...</ion-item>
            
                    <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                      <ng-template>
                        <ion-content>
                          <ion-list>
                            <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                          </ion-list>
                        </ion-content>
                      </ng-template>
                    </ion-popover>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-card>
          <ion-card class="ion-no-margin card-relative-turismo ion-no-padding" type="button">
            <ion-img src="assets/img/img-turismo.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="font-poppins-semibold">30%</ion-card-title>
              <ion-button mode="ios" class="ion-no-padding"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
            </ion-card-header>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-semibold">S/.120.00</p>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin card-relative-turismo ion-no-padding" type="button">
            <ion-img src="assets/img/img-turismo.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="font-poppins-semibold">30%</ion-card-title>
              <ion-button mode="ios" class="ion-no-padding"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
            </ion-card-header>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-semibold">S/.120.00</p>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin card-relative-turismo ion-no-padding" type="button">
            <ion-img src="assets/img/img-turismo.png"></ion-img>
            <ion-card-header>
              <ion-card-title class="font-poppins-semibold">30%</ion-card-title>
              <ion-button mode="ios" class="ion-no-padding"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
            </ion-card-header>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-semibold">S/.120.00</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general col-flex-between margin-top-25">
        <h3 class="font-poppins-bold textos-44-size-16 titulo-img-izquierda ion-no-margin"><ion-img src="assets/img/icon-rojo-titulo.svg"></ion-img> Tecnología</h3>
        <ion-button mode="ios"  class="btn-transparente-subtitulo ion-no-padding font-poppins-medium">Ver todos</ion-button>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general margin-top-25">
        <div class="div-item-grid-2">
          <ion-card class="ion-no-margin card-tecnologias ion-no-padding" type="button">
            <ion-button mode="ios" class="btn-favorito ion-no-padding">
              <ion-icon name="heart-outline" style="display: none;"></ion-icon>
              <ion-icon name="heart" class="favorito-active"></ion-icon>
            </ion-button>
            <ion-img src="assets/img/imagen-tecnologia.png" class="img-tecnologias"></ion-img>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-light p-start-valor"><ion-img src="assets/img/icon-start-medias.svg" class="icon-start"></ion-img> 4.7</p>
              <p class="font-poppins-semibold p-precio-tecno">S/.120.00</p>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin card-tecnologias ion-no-padding" type="button">
            <ion-button mode="ios" class="btn-favorito ion-no-padding">
              <ion-icon name="heart-outline" style="display: none;"></ion-icon>
              <ion-icon name="heart" class="favorito-active"></ion-icon>
            </ion-button>
            <ion-img src="assets/img/imagen-tecnologia.png" class="img-tecnologias"></ion-img>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-light p-start-valor"><ion-img src="assets/img/icon-start-medias.svg" class="icon-start"></ion-img> 4.7</p>
              <p class="font-poppins-semibold p-precio-tecno">S/.120.00</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general col-flex-between margin-top-25">
        <h3 class="font-poppins-bold textos-44-size-16 titulo-img-izquierda ion-no-margin"><ion-img src="assets/img/icon-rojo-titulo.svg"></ion-img> Comida y bebidas</h3>
        <ion-button mode="ios"  class="btn-transparente-subtitulo ion-no-padding font-poppins-medium">Ver todos</ion-button>
      </ion-col>
      <ion-col size="12" class="padding-left-right-general margin-top-25">
        <div class="div-item-grid-2">
          <ion-card class="ion-no-margin card-tecnologias ion-no-padding" type="button">
            <ion-button mode="ios" class="btn-favorito ion-no-padding">
              <ion-icon name="heart-outline" style="display: none;"></ion-icon>
              <ion-icon name="heart" class="favorito-active"></ion-icon>
            </ion-button>
            <ion-img src="assets/img/imagen-tecnologia.png" class="img-tecnologias"></ion-img>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-light p-start-valor"><ion-img src="assets/img/icon-start-medias.svg" class="icon-start"></ion-img> 4.7</p>
              <p class="font-poppins-semibold p-precio-tecno">S/.120.00</p>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin card-tecnologias ion-no-padding" type="button">
            <ion-button mode="ios" class="btn-favorito ion-no-padding">
              <ion-icon name="heart-outline" style="display: none;"></ion-icon>
              <ion-icon name="heart" class="favorito-active"></ion-icon>
            </ion-button>
            <ion-img src="assets/img/imagen-tecnologia.png" class="img-tecnologias"></ion-img>
            <ion-card-content>
              <h4 class="font-poppins-medium">Cancun 4 d /3n</h4>
              <p class="font-poppins-light p-start-valor"><ion-img src="assets/img/icon-start-medias.svg" class="icon-start"></ion-img> 4.7</p>
              <p class="font-poppins-semibold p-precio-tecno">S/.120.00</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-card mode="ios" class="ion-no-margin card-footer-flotante">
    <ion-button mode="ios" class="ion-no-padding" (click)="setOpenMenu(true)">
      <ion-img src="assets/img/icon-navbar.svg" class="img-tecnologias"></ion-img>
    </ion-button>
    <ion-button mode="ios" class="ion-no-padding">
      <ion-img src="assets/img/icon-campana.svg" class="img-tecnologias"></ion-img>
    </ion-button>
    <ion-button mode="ios" class="ion-no-padding">
      <ion-img src="assets/img/icon-corazon.svg" class="img-tecnologias"></ion-img>
    </ion-button>
    <ion-button mode="ios" class="ion-no-padding"></ion-button>
    <ion-button mode="ios" class="ion-no-padding"></ion-button>
  </ion-card>

 <!--modal de filtro-->
 <ion-modal [isOpen]="isModalOpenFiltro" class="modal-transparente">
  <ng-template>
    <ion-content class="content-modal-padding-left-right">
      <ion-button (click)="setOpenFiltro(false)" class="btn-close-modal ion-no-padding"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-card class="ion-no-margin card-filtro-menu">
        <h3 class="font-poppins-bold titulos-44-size-18">Filtra tu selección</h3>
        <h5 class="font-poppins-bold texto-44-size-14">Rubros</h5>
        <ion-item lines="none" mode="ios" class="item-input-general item-input-padding-top margin-top-5">
          <ion-select aria-label="Fruit" interface="action-sheet" placeholder="Seleccione el rubro deseado" mode="ios" class="font-poppins-light">
            <ion-select-option value="apples">Masculino</ion-select-option>
            <ion-select-option value="oranges">Femenino</ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="icon-select"></ion-icon>
        </ion-item>
        <h5 class="font-poppins-bold texto-44-size-14 margin-top-31">Categorías</h5>
        <ion-card class="card-flex-buttons ion-no-margin margin-top-17">
          <ion-button mode="ios" class="btn-selecion-multiple font-poppins-light active">Tecnología</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple font-poppins-light">Tecnología</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple font-poppins-light">Tecnología</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple font-poppins-light">Tecnología</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple font-poppins-light">Tecnología</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple font-poppins-light">Tecnología</ion-button>
        </ion-card>
        <h5 class="font-poppins-bold texto-44-size-14 margin-top-31">Rating</h5>
        <ion-card class="card-flex-buttons ion-no-margin margin-top-17">
          <ion-button mode="ios" class="btn-selecion-multiple btn-wight-rating font-poppins-light active"><ion-icon name="star"></ion-icon> 1</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple btn-wight-rating font-poppins-light"><ion-icon name="star"></ion-icon> 2</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple btn-wight-rating font-poppins-light"><ion-icon name="star"></ion-icon> 3</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple btn-wight-rating font-poppins-light"><ion-icon name="star"></ion-icon> 4</ion-button>
          <ion-button mode="ios" class="btn-selecion-multiple btn-wight-rating font-poppins-light"><ion-icon name="star"></ion-icon> 5</ion-button>
        </ion-card>
        <div class="ion-no-margin card-flex-resetear ion-no-padding">
          <ion-button class="btn-wight-50 btn-general font-poppins-regular btn-recetear">Resetear</ion-button>
          <ion-button class="btn-wight-50 btn-general font-poppins-regular">Aplicar</ion-button>
        </div>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

  <!--Modal de menu-->
  <ion-modal [isOpen]="isModalOpenMenu" class="modal-transparente">
    <ng-template>
      <ion-content class="content-modal-padding-left-right">
        <ion-button (click)="setOpenMenu(false)" class="btn-close-modal ion-no-padding"><ion-icon name="close-outline"></ion-icon></ion-button>
        <ion-card class="ion-no-margin card-filtro-menu">
          <ion-item lines="none" class="item-header">
            <ion-img src="assets/img/avatar.svg" alt="avatar"></ion-img>
            <ion-label>
              <p class="font-poppins-light">Quiero comprar…</p>
              <h3 class="font-poppins-semibold">Emanuela Ginobili</h3>
            </ion-label>
            <div class="div-btn-flex">
              <ion-button class="ion-no-padding">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
          <ion-item class="item-navbar margin-top-39" lines="none">
            <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Inicio</ion-label>
          </ion-item>
          <ion-item class="item-navbar" lines="none">
            <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Notificaciones</ion-label>
          </ion-item>
          <ion-item class="item-navbar" lines="none">
            <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Micro empresarios</ion-label>
          </ion-item>
          <ion-item class="item-navbar" lines="none">
            <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Anuncios</ion-label>
          </ion-item>
          <ion-item class="item-navbar" lines="none" type="button" href="/carrito">
            <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Mi pedido</ion-label>
          </ion-item>

          <h5 class="font-poppins-bold texto-44-size-14 margin-top-31 padding-left-16">Mi Perfil</h5>
          <ion-item class="item-navbar" lines="none">
            <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Gustos y preferencias</ion-label>
          </ion-item>
          <ion-item class="item-navbar" lines="none" type="button" href="/historial">
            <ion-img src="assets/img/icon-campana.svg" alt="campana"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Historial de compras</ion-label>
          </ion-item>
          <ion-item class="item-navbar" lines="none">
            <ion-img src="assets/img/icon-corazon.svg" alt="corazon"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Favoritos</ion-label>
          </ion-item>

          <div class="div-flex-cards margin-top-25">
            <ion-card class="ion-no-margin card-plomo-enlaces font-poppins-light ion-text-center" type="button" href="/preguntas-frecuentes">Preguntas frecuentes</ion-card>
            <ion-card class="ion-no-margin card-plomo-enlaces font-poppins-light ion-text-center" type="button" href="/fraude">Reportar fraude</ion-card>
            <ion-card class="ion-no-margin card-plomo-enlaces font-poppins-light ion-text-center" type="button" href="/antencion-cliente">Atención al cliente</ion-card>
          </div>
          <ion-item class="item-navbar margin-top-17" lines="none">
            <ion-img src="assets/img/icon-corazon.svg" alt="corazon"></ion-img>
            <ion-label class="font-poppins-light textos-44-size-16">Vende y anuncia en yase.pe</ion-label>
          </ion-item>
          <ion-item class="item-navbar item-salir" lines="none">
            <ion-icon name="enter-outline"></ion-icon>
            <ion-label class="font-poppins-light textos-44-size-16">Salir</ion-label>
          </ion-item>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

