<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  <div class="padding-left-right-general conten-padding-top-proceso">
    <ion-img src="assets/img/logo-yase.png" alt="yase" class="img-sin-fondo logo-yasse-proceso"></ion-img>
    <h1 class="ion-text-center titulo-44-size-24 font-poppins-bold margin-top-39 ion-no-margin-bottom">Crea tu cuenta</h1>
    <ion-item line="none" mode="ios" class="item-input-general margin-top-39">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input placeholder="pro@puntopro.pe" mode="ios" type="email" class="font-poppins-light"></ion-input>
    </ion-item>
    <ion-item line="none" mode="ios" class="item-input-general margin-top-5">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input placeholder="Crea tu nueva contraseña" mode="ios" type="password" class="font-poppins-light"></ion-input>
      <ion-icon name="eye-off" slot="end"></ion-icon>
    </ion-item>
    <ion-item line="none" mode="ios" class="item-input-general margin-top-5">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input placeholder="Repite tu contraseña" mode="ios" type="password" class="font-poppins-light"></ion-input>
      <ion-icon name="eye-off" slot="end"></ion-icon>
    </ion-item>
    <ion-button mode="ios" class="btn-general font-poppins-regular margin-top-39 btn-widht-100" href="/crear-perfil">
      ¡Listo!
    </ion-button>
    <p class="ion-text-center font-poppins-light textos-44-size-16 margin-top-31 ion-no-margin-bottom">O continua con</p>
    <div class="div-item-tres margin-top-31">
      <ion-button mode="ios" class="btn-redes-sociales font-poppins-regular">
        <ion-img src="assets/img/icon-face.png" alt="facebook" class="img-sin-fondo ion-no-margin-right"></ion-img>
      </ion-button>
      <ion-button mode="ios" class="btn-redes-sociales font-poppins-regular">
        <ion-img src="assets/img/icon-google.png" alt="facebook" class="img-sin-fondo ion-no-margin-right"></ion-img>
      </ion-button>
      <ion-button mode="ios" class="btn-redes-sociales font-poppins-regular">
        <ion-img src="assets/img/icon-iphone.png" alt="facebook" class="img-sin-fondo ion-no-margin-right"></ion-img>
      </ion-button>
    </div>
    <p class="ion-text-center font-poppins-regular texto-44-size-13 margin-top-25 ion-no-margin-bottom">¿Ya tienes cuenta? <a class="font-poppins-bold" href="/login">Ingresa</a></p>
  </div>
</ion-content>
